@model Fashion.Models.IndexViewModel
@{
    ViewBag.Title = "Quản lý Tài Khoản";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">
        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Thay đổi mật khẩu", "ChangePassword", null, new {@class="btn btn-primary btn-lg"})
            }
            else
            {
                @Html.ActionLink("Nhập Mật Khẩu Mới", "SetPassword")
            }
        </p>
      
    </div>
</div>
