@{
    Layout = null;
}
@model IEnumerable<Fashion.Models.Category>
<div class="sub_menu_wrap top_arrow d_xs_none type_2 tr_all_hover clearfix r_corners">
    <ul class="sub_menu">
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "DanhMuc", "SanPham", new { id = item.ID }, new { @class = "color_dark tr_delay_hover" })</li>
        }
    </ul>
</div>